#navbar {
    background-color: #dee2e6;
    padding-top: 5px;
    padding-bottom: 5px;
}

#content {
    height: 2000px;
}

#footer {
    background-color: #dee2e6;
    padding-top: 5px;
    padding-bottom: 5px;
}
li {
    float: left;
    padding: 10px;
}

#nav-username {
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
}

