<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#" data-component="all-posts">Mock Social Media</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" data-component="all-posts">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-component="write-post">Write</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-component="my-posts">My Posts</a>
      </li>
    </ul>
    <form class="form-inline my-2 mx-auto my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchQueryInput">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchQueryButton" data-component="searched-posts">Search</button>
    </form>
    <span class="navbar-text" id="nav-username"></span>
  </div>
</nav>

<script src="/app/navbar.js"></script>
<script>
  loginIfNeeded()
</script>